<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - FMD app</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css"/>
</head>
<body>
<section class="hero is-primary">

    <a href="{{ url_for('weather.index') }}"><h1 class="title" style="margin-left: 10px">FMD app</h1></a>

    <ul style="margin-left: 30px">
        {% if g.user %}
            <li><span>{{ g.user['username'] }}</span>
            <li><a href="{{ url_for('auth.user_list') }}">User list</a>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>

                {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a>
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
            <li><a href="{{ url_for('auth.user_list') }}">User list</a>
        {% endif %}
    </ul>
</section>
</body>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>